/* Doodle Stage */
#stage {
  background: #ccc;
  height: 400px;
  width: 600px;
  overflow: hidden;
  position: relative;
}

#bikeframe {
  width: 60%;
  position: absolute;
  left: 100px;
  top: 130px;
}

#rightwheel, #leftwheel {
  width: 25%;
}

#pedal {
  width: 9%;
  position: relative;
  left: 294px;
  top: 174px;
  z-index: 1;
  -webkit-transform-origin: left;
          transform-origin: left;
}

#rightwheel {
  position: relative;
  top: 229px;
  left: 160px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-animation: leftwheel 2s 5;
          animation: leftwheel 2s 5;
}

@-webkit-keyframes rightwheel {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rightwheel {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#leftwheel {
  position: relative;
  top: 232px;
  left: 50px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-animation: leftwheel 2s 5;
          animation: leftwheel 2s 5;
}

@-webkit-keyframes leftwheel {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes leftwheel {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
