/* Doodle Stage */
#stage {
  background: #fff;
  height: 600px;
  width: 600px;
  overflow: hidden;
  position: relative;
}

#bikeframe {
  width: 60%;
  position: absolute;
  left: 100px;
  top: 200px;
  z-index: 1;
  -webkit-animation: bikeframe 5s 1;
          animation: bikeframe 5s 1;
}

@-webkit-keyframes bikeframe {
  0% {
    left: -500px;
  }
}

@keyframes bikeframe {
  0% {
    left: -500px;
  }
}
#rightwheel, #leftwheel {
  width: 25%;
}

#rightwheel {
  position: relative;
  top: 439px;
  left: 220px;
  -webkit-animation: rightwheel 5s 1;
          animation: rightwheel 5s 1;
}

@-webkit-keyframes rightwheel {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    left: -385px;
  }
  100% {
    -webkit-transform: rotate(3240deg);
            transform: rotate(3240deg);
  }
}

@keyframes rightwheel {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    left: -385px;
  }
  100% {
    -webkit-transform: rotate(3240deg);
            transform: rotate(3240deg);
  }
}
#leftwheel {
  position: relative;
  top: 440px;
  left: 106px;
  -webkit-animation: leftwheel 5s 1;
          animation: leftwheel 5s 1;
}

@-webkit-keyframes leftwheel {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    left: -500px;
  }
  100% {
    -webkit-transform: rotate(3240deg);
            transform: rotate(3240deg);
  }
}

@keyframes leftwheel {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    left: -500px;
  }
  100% {
    -webkit-transform: rotate(3240deg);
            transform: rotate(3240deg);
  }
}
